/* Variables */
:root {
    --basic-dark-dark: #293449;
    --basic-dark: #32425C;
    --basic-grey: #F1F5F7;
    --basic-ligth-pink: #F9F5F0;
    --basic-white: #F9F5F0;
    --basic-grey-pink: #F4F4F4;
    --basic-red: #EE3643;
    --basic-black: #000000;
    --basic-light-white: #FFFFFF;
    --basic-ligth-black: #1D2739;

/* text */

    --text-blue: #32425C;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --text-red: #EE3643;
    --text-footer-special-yellow: #FFD180;
    --text-grey: #A9A9A9;
    --text-footer-nav: #F1F5F7;
    --text-adress: #F3F7F9;
    --text-greylight: #C5C5C5;


/* blocks */

    --block-orange: #FFBF47;
    --block-green: #8ED78F;
    --block-blue: #3BBCE3;
    --block-pink: #DC91D8;

/* button */

    --button-green: #63A63E;
    --button-red: #EE3643;
    --button-social: #212A3A;
    --button-icon-grey: #C5C5C5;
    --button-red-focus: #CA2C37;
    --button-red-active: #BA2732;


/* modal */
    --border-grey: #C5C5C5;
}

/* Global */
.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-light-white);
  background-image: url("../img/bg.ipg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  background-color: var(--basic-dark-dark);
  width: 1200px;
  height: 42px;
  list-style: none;
  text-align: center;
}
.main-navigation a {
  color: var(--text-white);
}

.main-navigation-wrapper {
  background-color: var(--basic-dark-dark);
}

/* Логотип как img не подходит, потому что меняем цвет в разном состоянии */
span {
  color: var(--text-white);
}

/* Не получается сделать разное состояние  main-navigation. */

.shop {
  font-size: 16px;
  line-height: 23px;
  color: var(--text-red);
  font-style: italic;
}

.contact-phone {
  font-size: 21px;
  line-height: 30px;
  color: var(--text-red);
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-blue);
}
/* Слова в ссылках не становятся чёрными */
.login-link a,
.registration-link a {
  color: var(--text-black);
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
}

.login-link-current a:not([href]) {
  background: var(--basic-light-white);
}


.registration-link a:not([href]) {
  background: var(--basic-light-white);
}

.login-link a,
.registration-link a {
  background-color: var(--basic-light-white);
}
/*
<!-- Как сделать чёрный цвет этой иконке в состоянии наведении? */
/* <img src="img/icon.svg/icon-entry.svg" width="14" height="17" alt="#">--> */
.login-link a:hover,
.registration-link a:hover {
  color: var(--text-red);
  background-color: var(--basic-light-white);
}

.login-link a:focus,
.registration-link a:focus {
  color: var(--text-greylight);
  background-color: var(--basic-light-white);
}

.user {
  font-size: 21px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: var(--text-black);
  background-color: var(--basic-light-white);
}

.user a:hover {
color: var(--text-black);
}

.user a:focus {
  color: var(--text-greylight);
}

.user-information {
color: var(--text-blue);
}

.user-information a:hover {
  color: var(--text-red);
}

.user-information a:focus {
  color: var(--text-greylight);
}

.site-navigation {
  width: 940px;
  height: 60px;
  color: var(--text-white);
  background-color: var(--basic-dark);
  text-align: center;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-dack);
}

.site-navigation-wrapper {
  background-color: var(--basic-dack);
}

.site-navigation ul {
  list-style: none;
}

.site-navigation ul{
  font-size: 18px;
  line-height: 24px;
}

.site-navigation ul{
  text-align: center;
}

.site-navigation-current a:not(href) {
background-color: var(--basic-white);
}

/* Features */
.features {
  list-style: none;
}

.feature h3 {
  text-align: left;
}

.feature h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.feature-current a:not(href) {
  background-color: var(--basic-white);
}

.features-usefulness {
  font-size: 14px;
  line-height: 18px;
}

.gallery {
  background-color: var;
  list-style: none;
}

.gallery h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.gallery h1 {
  text-align: left;
}

.gallery h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.gallery-content {
  background-color: var(--basic-grey);
  border: 7px solid var(--basic-white)
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-red);
  border: none;
}

.button:hover {
  background-color: var(--button-red-focus);
}

.button:focus {
  background-color: var(--button-red-active);
}

/* Popular-products */
.index-columns1 {
  font: inherit;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/photo.jpg");
  background-position: center, 0 0;
  background-repeat: repeat;
  background-color: var(--text-white);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.old,
.actual {
  font: inherit;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old {
  color: var(--text-grey);
}

.actual {
  color: var(--text-white);
}

h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-blue);
}

/* "Fabricators" */
.index-columns2 {
  background-color: var(--basic-white);
  background-image: url("../img/logo.svg/");
  background-position: center, 0 0;
  background-repeat: repeat;
  position: absolute;
  width: 220px;
  height: 145px;
  left: 370px;
  top: 1453px;
  background-color: var(--basic-light-white);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.fabricators-list {
  list-style: none;
}

.fabricators-item {
  text-align: center;
}
.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black);
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
}

.services ul {
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  }

.services-list {
  list-style: none;
}

.services-item1 {
  color: var(--text-blue);
}

.services-item2,
.services-item3 {
color: var(--text-white);
}



.information h2 {
  color: var(--text-black);
}

.information-list {
  list-style: none;
}

.map h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black);
}

.information p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.map p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
}

/* Footer */
.main-footer {
  width: 1200px;
  height: 300px;
  list-style: none;
}

.footer-navigation {
  background-color: var(--basic-dark);
  color:  var(--basic-light-white);
  width: 1200px;
  height: 193px;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.footer-contacts {
  color: var(--text-adress)
}

.footer-services a {
  color: var(--text-footer-nav);
  text-decoration: underline;
}

.footer-services {
  list-style: none;
}

.footer-services {
  text-align: center;
}

.footer-services-current a:not(href) {
  background-color: var(--basic-white);
  }

  .footer-services-wrapper {
 background-color: var(--basic-dack);
  }

.footer-features a {
  color: var(--text-footer-special-yellow);
  text-decoration: underline;
}

.footer-features {
  text-align: center;
}

.footer-services-wrapper,
.footer-features-wrapper {
  background-color: var(--basic-dark);
}

.footer-copyright {
  background-color: var(--basic-dark-dark);
  color: var(--text-white);
  width: 1200px;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.footer-social {
  text-align: center;
 }

 .footer-social ul {
   list-style: none;
 }

 .footer-social a {
   color: var(--text-light-white);
   text-decoration: underline;
 }


.footer-links {
  color: var(--text-white)
}

.footer-links:focus a {
  color: var(--text-red);
}

.footer-mail a,
.footer-site a {
  color: var(--text-footer-special-yellow);
  text-decoration: underline;
}

.footer-mail:hover a,
.footer-site:hover a {
  background-color: var(--text-footer-special-yellow);
}

.footer-mail:focus a,
.footer-site:focus a {
  background-color: var(--text-red);
}


/* Social-button */
.social-button {
  color: var(--basic-white);
  /* background: можно нарисовать в svg круг и залить его чёрным; */
}

.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}


 .modal-login {
  font-size: 18px;
  line-height: 24px;
  font: inherit;
  color: var(--text-black);
  width: 620px;
  height: 430px;
 background-color: var(--basic-white);
  /* серая полоска с кнопкой наложена на белый прямоугольник
  width: 620px;
  height: 112px;
 background-color: var(--basic-grey-pink); */
 background-position: absolute;
 background-repeat: repeat;
 box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
 text-align: left;
 }

 .modal-login {
   text-align: center;
 }

 .login-form input[type="login"],
 .login-form input[type="email"],
 .login-form input[type="text"] {
   font: inherit;
   font-family: "PT Sans", Arial, sans-serif;
   color: var(--text-modal-grey);
   font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 2px solid #C5C5C5;
 }

