/* Variables */
:root {
    --basic-dark-dark: #293449;
    --basic-very-dark: #161D29;
    --basic-dark: #32425C;
    --basic-lidth-grey: #F1F5F7;
    --basic-grey: #A9A9A9;
    --basic-ligth-pink: #F9F5F0;
    --basic-white: #F9F5F0;
    --basic-grey-pink: #F4F4F4;
    --basic-red: #EE3643;
    --basic-black: #000000;
    --basic-light-white: #FFFFFF;
    --basic-ligth-black: #1D2739;
    --basic-ligth-green: #5FBB2D;
    --basic-green: #63A63E;


/* text */

    --text-blue: #32425C;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --text-red: #EE3643;
    --text-footer-special-yellow: #FFD180;
    --text-grey: #A9A9A9;
    --text-footer-nav: #F1F5F7;
    --text-adress: #F3F7F9;
    --text-greylight: #C5C5C5;


/* blocks */

    --block-orange: #FFBF47;
    --block-green: #8ED78F;
    --block-blue: #3BBCE3;
    --block-pink: #DC91D8;

/* button */

    --button-green: #63A63E;
    --buttuon-active-green: #518534;
    --button-hover-green: #5FBB2D;
    --button-red: #EE3643;
    --button-social: #212A3A;
    --button-icon-grey: #C5C5C5;
    --button-red-hover: #CA2C37;
    --button-red-active: #BA2732;
    --button-icon-link: #3D546F;


/* modal */
    --border-grey: #C5C5C5;
}

/* Global */
.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-light-white);
  background-image: url("../img/bg.ipg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  background-color: var(--basic-dark-dark);
  width: 1200px;
  height: 42px;
  list-style: none;
  text-align: center;
}

.main-navigation a {
  color: var(--text-white);
  background-color: var(--basic-dark-dark);
  opacity: 0.3;
}

.main-navigation-wrapper {
  background-color: var(--basic-dark-dark);
}

.order {
  background-color: var(--basic-green);
}

/* Логотипа не видно на панели навигации*/
.logo {
  color: var(--text-white);
  background-color:  var(--basic-red);
}

.logo:active {
  background-color: var(--button-red-active);
}

.main-navigation a:hover {
  background-color: var(--basic-dark-dark);
  opacity: none;
}

.order a:hover {
  background-color: var(--basic-ligth-green);
}

.main-navigation a:actuve {
background-color: var(--basic-dark-dark);
opacity: 0.3;
}

.bookmarks,
.cart a:active {
background-color: var(--basic-very-dark);
}

.shop {
  font-size: 16px;
  line-height: 23px;
  color: var(--text-red);
  font-style: italic;
}

.contact-phone {
  font-size: 21px;
  line-height: 30px;
  color: var(--text-red);
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-blue);
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-black);
  background-image: url(img/icon.svg/icon-entry.svg) var(--button-icon-grey);
}

.login-link-current a:not([href]) {
  background: var(--basic-light-white);
}


.registration-link a:not([href]) {
  background: var(--basic-light-white);
}

.login-link a,
.registration-link a {
  background-color: var(--basic-light-white);
}

.login-link a:hover,
.registration-link a:hover {
  color: var(--text-red);
  background-color: var(--basic-light-white);
  background-image: url(img/icon.svg/icon-entry.svg) var(--button-icon-link);
}

.login-link a:active,
.registration-link a:active {
  color: var(--text-greylight);
  background-color: var(--basic-light-white);
  background-image: url(img/icon.svg/icon-entry.svg) var(--button-icon-grey);
}

.site-navigation {
  width: 940px;
  height: 60px;
  color: var(--text-white);
  background-color: var(--basic-dark);
  text-align: center;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-dack);
}

.site-navigation-wrapper {
  background-color: var(--basic-dack);
}

.site-navigation ul {
  list-style: none;
}

.site-navigation ul{
  font-size: 18px;
  line-height: 24px;
}

.site-navigation ul{
  text-align: center;
}

.site-navigation-current a:not(href) {
background-color: var(--basic-white);
}

/* Features не меняется цвет текста*/
.features a {
  list-style: none;
  color: var(--text-white);
}

.feature {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: var(--text-white);
}

.features-current a:not(href) {
  background-color: var(--basic-white);
}

.features-usefulness block-orange,
.features-usefulness block-blue,
.features-usefulness block-green,
.features-usefulness block-pink {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.features-usefulness block-orange {
  background-color: var(--block-orange);
  background-image: url(img/icon.svg/icon-materials.svg);
}

.features-usefulness block-orange:hover {
  background-color: var(--border-grey);
  mix-blend-mode: normal;
  opacity: 0.3;
  }

.features-usefulness block-orange:active {
  background-color: var(--text-grey);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.features-usefulness block-blue {
  background-color: var(--block-blue);
  background-image: url(img/icon.svg/icon-instrument.svg);
}

.features-usefulness block-pink {
  background-color: var(--block-pink);
  background-image: url(img/icon.svg/icon-technic.svg);
}

.features-usefulness block-green {
  background-color: var(--block-green);
  background-image: url(img/icon.svg/icon-sales.svg);
}

.features-usefulness block-orange {
  background-color: var(--block-orange);
  background-image: url(img/icon.svg/icon-delivery.svg);
}

.gallery {
  background-color: var;
  list-style: none;
}

.gallery h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.gallery h1 {
  text-align: left;
}

.gallery h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.gallery-content {
  background-color: var(--basic-grey);
  border: 7px solid var(--basic-white)
}

.button-small,
.button-information,
.button-map,
.button-send {
  height: 38px;
  text-align: center;
  color: var(--basic-light-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-red);
  border: none;
}

.button-small {
  width: 192px;
}

.button-information {
  width: 220px;
}

.button-map {
  width: 300px;
}

.button-send {
  width: 460px;
}

.button-small:hover,
.button-information:hover,
.button-map:hover,
.button-send:hover {
  background-color: var(--button-red-hover);
}

.button-small:active,
.button-information:active,
.button-map:active,
.button-send:active {
  background-color: var(--button-red-active);
}

/* Popular-products */
.all-products {
  width: 940px;
  height: 427px;
  left: 130px;
  top: 847px;
}

.popular-products {
  width: 940px;
  height: 89px;
  left: 130px;
  top: 847px;
  background-color: var(--basic-ligth-pink);
}

.index-columns1 {
  width: 940px;
  height: 427px;
  left: 130px;
  top: 847px;
  color: var(--basic-black);
  background-color: var(--basic-light-white);
  background-image: url("../img/photo.jpg");
  background-position: center, 0 0;
  background-repeat: repeat;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.popular-product {
  width: 220px;
  height: 318px;
  background-image: url(img/.jpg);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.products,
.popular-fabricators,
.delivery {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--text-blue);
}

.hammer-drill {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: var(--text-black);
}

.old,
.actual {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old {
  color: var(--text-grey);
}

.actual {
  width: 141px;
  height: 38px;
  color: var(--text-white);
  background-image: url(img/logo.svg/red-button.svg);
  border: none;
}
.new {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  transform: rotate(45deg);
}

/* "Fabricators" */
.all-fabricators {
  width: 940px;
  height: 419px;
  left: 130px;
  top: 1344px;
}

.fabricators {
  width: 940px;
  height: 89px;
  left: 130px;
  top: 1344px;
  background-color: var(--basic-ligth-pink);
}

.index-columns2 {
  background-image: url("../img/logo.svg/");
  background-position: center, 0 0;
  background-repeat: repeat;
  position: absolute;
  width: 220px;
  height: 145px;
  left: 370px;
  top: 1453px;
  background-color: var(--basic-light-white);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.fabricators-list {
  list-style: none;
}

.fabricators-item {
  text-align: center;
}
.fabricators-item {
  width: 220px;
  height: 145px;
  background-image: url(Image.svg);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

/* Services */
.services {
  background-color: var(--basic-lidth-grey);
}

.services-information,
.delivery-information {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black);
}

.services-information {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
}
/* Как изобразить тире? */

.services ul {
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  }

.services-list {
  list-style: none;
}

.services-item1 {
  color: var(--text-blue);
}

.services-item2,
.services-item3 {
color: var(--text-white);
}


/* Information */
.information h2 {
  color: var(--text-black);
}

.information-list {
  list-style: none;
}

.information h2,
.map h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black);
}

.map p,
.information p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
}



/* Footer */
.main-footer {
  width: 1200px;
  height: 300px;
}

.footer-navigation {
  background-color: var(--basic-dark);
  color:  var(--basic-light-white);
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  color: var(--text-adress)
}

.footer-services a {
  color: var(--text-footer-nav);
  text-decoration: underline;
}

.footer-services-list{
  list-style: none;
}

.footer-services {
  text-align: center;
}

.footer-services-current a:not(href) {
  background-color: var(--basic-white);
}

  .footer-services-wrapper {
 background-color: var(--basic-dack);
}

.footer-features a {
  color: var(--text-footer-special-yellow);
  text-decoration: underline;
}

.footer-features-list {
  list-style: none;
}

.footer-services-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-footer-nav);
}

.footer-features {
  width: 1200px;
  height: 107px;
  text-align: center;
}

.footer-services-wrapper,
.footer-features-wrapper {
  background-color: var(--basic-dark);
}

.footer-copyright {
  background-color: var(--basic-dark-dark);
  color: var(--text-white);
  width: 1200px;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
   list-style: none;
}

.footer-social a {
   color: var(--text-light-white);
   text-decoration: underline;
 }


.footer-links {
  color: var(--text-white)
}

.footer-links:focus a {
  color: var(--text-red);
}

.footer-mail a,
.footer-site a {
  color: var(--text-footer-special-yellow);
  text-decoration: underline;
}

.footer-mail:hover a,
.footer-site:hover a {
  background-color: var(--text-footer-special-yellow);
}

.footer-mail:focus a,
.footer-site:focus a {
  background-color: var(--text-red);
}


/* Social-button */
.social-button {
  color: var(--basic-white);
  /* background: можно нарисовать в svg круг и залить его чёрным; */
}

.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}


 .modal-login {
  font-size: 18px;
  line-height: 24px;
  font: inherit;
  color: var(--text-black);
  width: 620px;
  height: 430px;
 background-color: var(--basic-white);
  /* серая полоска с кнопкой наложена на белый прямоугольник
  width: 620px;
  height: 112px;
 background-color: var(--basic-grey-pink); */
 background-position: absolute;
 background-repeat: repeat;
 box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
 text-align: left;
 display: none ;
 }

 .modal-login {
   text-align: center;
 }

 .login-form input[type="login"],
 .login-form input[type="email"],
 .login-form input[type="text"] {
   font: inherit;
   font-family: "PT Sans", Arial, sans-serif;
   color: var(--text-modal-grey);
   font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 2px solid #C5C5C5;
 }

 .modal-big-map {
  display: none ;
 }
